---
---

@import "{{ site.theme }}";
header h1 {
	color: #267CB9;
}

header p {
	font-size: large;
	font-weight: bold;
}

a {
	text-decoration: underline !important;
}

footer {
    width: 100%;
    text-align: center;
}


@media (min-aspect-ratio: 3/1) {
  footer {
    position: relative;
    padding-top: 1rem;
  }
}

@media (min-aspect-ratio: 4/1) {
  header {
    position: relative;
  }
}

@media print, screen and (max-width: 1280px) and (max-height: 800px) {
    .wrapper {
        transform: scale(0.9);
        transform-origin: center;
    }
}

@media print, screen and (min-width: 1600px) and (min-height: 700px) {
    .wrapper {
        transform: scale(1.2);
        transform-origin: center;
    }
}

@media print, screen and (min-width: 1900px) and (min-height: 800px) {
    .wrapper {
        transform: scale(1.5);
        transform-origin: center;
    }
}

@media (min-aspect-ratio: 2/1) and (max-width: 1280px) and (max-height: 800px) {
  footer {
    position: relative;
    padding-top: 1rem;
  }
}